<div class="col-md-4">
    <div class="card my-4">
        <h5 class="card-header">Теги</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">Django</a>
                        </li>
                        <li>
                            <a href="#">VueJS</a>
                        </li>
                        <li>
                            <a href="#">DRF</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">NuxtJS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Последние статьи</h5>
        <div class="card-body">
            <h5 class="card-title">Раз пост</h5>
            <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
            <a href="#" class="card-link">Ссылка на статью</a>
        </div>
        <hr>
        <div class="card-body">
            <h5 class="card-title">Два пост</h5>
            <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
            <a href="#" class="card-link">Ссылка на статью</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Три пост</h5>
            <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
            <a href="#" class="card-link">Ссылка на статью</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Четыре пост</h5>
            <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
            <a href="#" class="card-link">Ссылка на статью</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Пять пост</h5>
            <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
            <a href="#" class="card-link">Ссылка на статью</a>
        </div>
    </div>
</div>