{% load static %}
<div class="container-fluid home-slider">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #343a40!important">
                <div class="carousel-caption d-none d-md-block">
                    <h1>
                        {% if post.h1 %}
                            {{ post.h1 }}
                        {% else %}
                            {{ title }}
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>