{% extends './base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block header %}
    {% include './block/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ post.h1 }}</li>
                </ol>
            </nav>
            <img class="img-fluid rounded " src="{{ post.image.url }}" alt="">
            <hr>
            <p class="lead">
            {{ post.content|safe }}
            </p>
            <div class="d-flex justify-content-end">
                {% for tag in post.tag.all %}
                    <a href="{% url 'tag' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                {% endfor %}
            </div>
            <hr>
            <div class="d-flex">
                <div class="mr-auto p-2 lead">Автор: {{ post.author }}</div>
                <div class="p-2">Опубликовано: {{ post.created_at }}</div>
            </div>
            <hr>
            {% include './block/comments.html' %}
        </div>
        {% include './block/aside.html' %}
    </div>
</div>
</div>
{% endblock %}