{% extends './base.html' %}
{% load static %}
{% block title %}Вход{% endblock %}

{% block content %}
    <div class="text-center">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form class="form-signin" method="post" action="{% url 'signin' %}">
            {% csrf_token %}
            <h1 class="h3 mb-3 mt-3 font-weight-normal">Пожалуйста укажите логин и пароль</h1>
            <label for="inputUsername" class="sr-only">Имя пользователя</label>
            {{ form.username }}
            <label for="inputPassword" class="sr-only">Пароль</label>
            {{ form.password }}
            <button class="btn mt-2 btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}