{% extends './base.html' %}
{% load static %}
{% block title %}Спасибо{% endblock %}

{% block header %}
    {% include './block/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Контакты</li>
                </ol>
            </nav>
            <p class="lead">Ваше письмо отправлено! Спасибо.</p>
        </div>
    </div>
</div>
</div>
{% endblock %}