{% extends './base.html' %}
{% load static %}
{% block title %}Все записи по тегу{% endblock %}

{% block header %}
    {% include './block/header.html' %}
{% endblock %}

{% block content %}
<section class="all-posts">
        <div class="container">
            <p class="my-3">Другие теги:
                {% for mt in common_tags %}
                    <a href="{% url 'tag' mt.slug %}" class="badge bg-info text-dark mb-2">#{{mt}}</a>
                {% endfor %}
            </p>
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="/media/{{ post.image }}" alt="" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">{{ post.h1 }}</h4>
                                <p class="card-text">{{post.description|safe|truncatechars:100 }}</p>
                                    {% for tag in post.tag.all %}
                                        <a href="{% url 'tag' tag.slug %}" class="badge bg-info text-dark mb-2">#{{ tag }}</a>
                                    {% endfor %}
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'post_detail' slug=post.url %}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                                    </div>
                                    <small class="text-muted">{{ post.created_at }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}